02.6_actions_page/sass/style.scss

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
04.07_Practice_DataServer_Async_Await/node_modules/
04.07_practice_proper_food_final/node_modules/
04.11_webpack/webpack-demo/node_modules/
04.11_webpack/webpack-demo/package.json
04.11_webpack/webpack-demo/package-lock.json
04.14_jquery/node_modules/
05.02_react_project_1/Разбор.docx
05.02_react_project_1/Разбор_версия1.docx
05.02_react_project_1/Разбор_версия2.docx
06.01_practicejs_saleofwindows/node_modules/
07.01_fullstack_crmsystem/node_modules/
07.01_fullstack_crmsystem/package-lock.json
07.01_fullstack_crmsystem/config/
08.01_questionnaire_quiz/.eslintcache
08.01_questionnaire_quiz/.gitignore
08.01_questionnaire_quiz/src/axios/
05.03_react_project_min3_learnredux/.gitignore
08.02_questionnaire_quiz_redux/.eslintcache
08.02_questionnaire_quiz_redux/.gitignore
08.02_questionnaire_quiz_redux/debug.log
08.02_questionnaire_quiz_redux/src/containers/Auth/
08.02_questionnaire_quiz_redux/.firebaserc
08.02_questionnaire_quiz_redux/firebase.json
08.02_questionnaire_quiz_redux/.firebase/
05.02_react_project_min2/.eslintcache
09.01_githubapi_reacthooks/.eslintcache
09.01_githubapi_reacthooks/.gitignore
