.QuizList {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #fd8355 0%, #e2f109 37%, #fd8355 100%);
    background: url('../../img/planet.jpg') 75% 100%/cover no-repeat;
}

.QuizList h1 {
    color: #ffffff;
    font-size: 45px;
}

.QuizList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.QuizList li {
    margin-bottom: 10px;
}

.QuizList li a {
    text-decoration: none;
    color: #ffffff;
}

.QuizList li a:hover {
    color: #11acc7;
}