.search-panel {
  margin: 1rem 0;
}

.search-panel .search-input {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}

@media (max-width: 425px) {
  .d-flex {
    display: block !important;
    /* margin-top: 10px; */
  }

  .btn-group {
    margin-top: 10px;
  }
}

